<% content_for(:title, @user.name + 'さん') %>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-xl-8 offset-xl-2">
      <h1 class="mb-3"><%= t('.title') %></h1>
      <div class="bg-white border rounded-2 p-3">
        <div class="d-flex align-items-center">
          <%= image_tag @user.avatar.url, size: '60x60', class: 'ms-3 me-3 rounded-circle' %>
          <h3><%= @user.name %></h3>
          <%= render 'relationships/follow_button', user: @user %>
        </div>
        <div class="pt-3">
          <p class="border-bottom fs-7 fw-bolder mb-2">自己紹介</p>
          <p class=""><%= simple_format @user.introduction %></p>
        </div>
        <div class="d-flex">
          <%= link_to following_user_path(@user), class: 'me-3 mb-0 text-decoration-none', id: 'follow-count' do %>
            <span class="text-dark"><%= @user.followings.length %></span><small class="text-secondary"> フォロー中</small>
          <% end %>
          <%= link_to follower_user_path(@user), class: 'mb-0 text-decoration-none', id: 'follower-count' do %>
            <span class="text-dark"><%= @user.followers.length %></span><small class="text-secondary"> フォロワー</small>
          <% end %>
        </div>
      </div>
      <div class="bg-white border rounded-2 px-3 mt-3">
        <p class="py-1 my-2 fw-bolder">レビュー履歴</p>
      </div>
      <!-- 投稿一覧 -->
      <div class="row mt-3">
        <% @books.each do |book| %>
          <div class="col-lg-6 col-12">
            <%= render 'books/book', book: book %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>