<% content_for(:title, @book.title) %>
<div class="container mt-3">
  <div class="row">
    <div class="col-md-10 offset-md-1 col-lg-8 offset-lg-2">
      <h1><%= t('.title') %></h1>
        <div class="card mb-3 p-3">
          <div class="row g-0">
            <div class="col-5">
              <%= image_tag @book.book_image.url, class: 'img-fluid border' %>
            </div>
            <div class="col-7">
              <div class="card-body">
                <h5 class="card-title"><%= @book.title %></h5>
                <p class="card-text mb-2"><%= @book.authors.pluck(:name).join(', ') %></p>
                <p class="card-text"><small class="text-muted"><%= @book.published_date %></small></p>
                <%= link_to '詳細を見る', @book.info_link, target: '_blank' %>
              </div>
            </div>
          </div>
        </div>
      <!-- 編集フォーム -->
      <%= form_with model: @book, url: book_path(@book) do |f| %>
        <%= render 'shared/error_message' , object: f.object %>
        <div class="mb-3">
          <%= f.label :body, class: 'form-label' %>
          <%= f.text_area :body, class: 'form-control', rows: 5, placeholder: '5文字以上で入力してください' %>
        </div>
        <div class="mb-3" id="category-select-form">
          <%= f.label :category, class: 'form-label' %>
          <%= f.select :parent_category, @parent_category , { include_blank: "大カテゴリを選択" } , class: 'form-select mb-2', id: 'parent_category' %>
        </div>
        <%= f.submit class: "btn btn-secondary", id: 'submit-button', disabled: true %>
      <% end %>
    </div>
  </div>
</div>